/* Add this to your CSS file */
.calendar-container {
  overflow-x: scroll;
  white-space: nowrap;
  display: flex !important;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  gap: 8px
}


/* Hide the scrollbar */
.calendar-container::-webkit-scrollbar {
  width: 0.5rem; /* Adjust as needed */
}

.calendar-container::-webkit-scrollbar-track {
  background: transparent;
}

.calendar-container::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
  display: none;
}


::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #d4d9e2;
}
